---
permalink: /
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0; url={{ '/photography/' | url }}">
  <link rel="canonical" href="{{ '/photography/' | url }}">
  <title>Matt Palichat</title>
  <script>location.replace("{{ '/photography/' | url }}");</script>
</head>
<body>
  <p><a href="{{ '/photography/' | url }}">Continue to Photography</a></p>
</body>
</html>
