---
permalink: /
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0; url=/photography/">
  <link rel="canonical" href="/photography/">
  <title>Matt Palichat</title>
  <script>location.replace("/photography/");</script>
</head>
<body>
  <p><a href="/photography/">Continue to Photography</a></p>
</body>
</html>
